# Do not ignore the Gradle wrapper scripts/jar - they must be committed so CI can run builds
# /.gradle is correctly ignored below
/.gradle
/captures/
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
